.fab {
  color: #EAB543;
}

body, nav {
  background-color: #000517;
}

.ColorFixedBack {
  background: linear-gradient(217deg, #412eb9, #100120 70.71%), linear-gradient(127deg, #0c005a, rgba(255, 0, 212, 0) 70.71%), linear-gradient(336deg, #d4c9c9, #09001d 70.71%);
}

.CubeDesign {
  background: linear-gradient(217deg, #918f8f9d, rgba(69, 80, 145, 0.315) 70.71%);
}

#CubeP7 {
  background-image: linear-gradient(#1f1f2ba9, rgba(31, 31, 43, 0.897)), url("./img/groupomania.jpg");
  background-position: center;
}

#CubeP6 {
  background-image: linear-gradient(#1f1f2ba9, rgba(31, 31, 43, 0.897)), url("./img/sopeckoko.png");
  background-position: center;
}

#CubeP5 {
  background-image: linear-gradient(#1f1f2ba9, rgba(31, 31, 43, 0.897)), url("./img/orinoco.png");
  background-position: center;
}

#CubeP4 {
  background-image: linear-gradient(#1f1f2ba9, rgba(31, 31, 43, 0.897)), url("./img/lachouetteagence.png");
  background-position: center;
}

#CubeP3 {
  background-image: linear-gradient(#1f1f2ba9, rgba(31, 31, 43, 0.897)), url("./img/protomarketplace.png");
  background-position: center;
}

#CubeP2 {
  background-image: linear-gradient(#1f1f2ba9, rgba(31, 31, 43, 0.897)), url("./img/cvlaurentjordan.png");
  background-position: center;
}

hr {
  border: 1px dashed white;
}

.ColorOr, .fa-linkedin, .fa-github, a:hover {
  color: #bce215;
}

.ColorWhiteSmoke, a {
  color: whitesmoke;
}

.ColorSecondary {
  color: #bce215;
}

.fa-vuejs {
  color: yellowgreen;
}

.fa-html5 {
  color: orange;
}

.fa-css3-alt {
  color: #3867d6;
}

.fa-sass {
  color: #8854d0;
}

.fa-js-square {
  color: #fed330;
}

.fa-node {
  color: #20bf6b;
}

.fa-server {
  color: #0fb9b1;
}

.fa-linkedin:hover, .fa-github:hover {
  color: white;
}

.fa-arrow-circle-down {
  color: white;
}

body {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 3%;
}

.DisplayIndex {
  padding: 4%;
}

.ImgProfil {
  border-radius: 50%;
  margin-top: 5%;
  border: 5px solid;
  border-color: white;
}

.NamePhoto {
  text-align: center;
}

.residence {
  padding-right: 12%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 8px;
}

.language {
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.HHtml {
  margin-right: 12%;
  height: 5px;
}

.HCSStml {
  margin-right: 15%;
  height: 5px;
}

.HJStml {
  margin-right: 35%;
  height: 5px;
}

.SEOtml {
  margin-right: 15%;
  height: 5px;
}

.fa-arrow-circle-down {
  padding-top: 8%;
}

.SocialLogo {
  display: flex;
  justify-content: space-evenly;
}

html {
  scroll-behavior: smooth;
}

.BlockBlackText {
  position: relative;
  z-index: 2;
  background-color: black;
  padding: 5%;
  margin-bottom: 10%;
}

p, li {
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: x-large;
}

.MailLink {
  font-size: 22px;
  transition-duration: 3s;
}

.TitleP {
  font-size: 30px;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  line-height: 2px;
}

p, h1, h2, h3, li, a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

li {
  list-style: none;
}

.txtcenter {
  text-align: center;
}

.MailLink {
  text-decoration: none;
}

.MailLink:hover {
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 2%;
  padding: 1%;
  font-size: 27px;
  transition-duration: 2s;
}

@media screen and (min-width: 1025px) {
  .DisplayIndex {
    display: flex;
    flex-direction: column;
  }

  .ImgProfil {
    max-width: 40%;
  }

  .fa-arrow-circle-down {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .NamePhoto {
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 4rem;
    z-index: 2;
  }

  .ColorFixedBack {
    position: fixed;
    left: 20%;
    right: 20%;
    bottom: 0;
    top: 8%;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 20%;
    right: 20%;
    z-index: 4;
    top: 0;
  }

  .Menu {
    max-width: 100%;
    margin-right: 5%;
    z-index: 2;
  }

  .Cube {
    display: flex;
    justify-content: space-evenly;
  }

  .CubeDesign {
    border-radius: 3%;
    margin: 1%;
    padding: 1%;
    text-align: center;
    width: 50%;
    z-index: 2;
    transition: transform 0.2s;
  }

  .CubeDesign:hover {
    transform: scale(1.3);
    z-index: 3;
    animation-duration: 2s;
  }

  .SocialLogo {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .NumberExp {
    display: flex;
    justify-content: space-evenly;
  }

  .BlockBlack2 {
    padding-top: 10%;
    margin-top: 10%;
    padding-bottom: 10%;
  }
}
@media screen and (max-width: 1024px) {
  .DisplayIndex {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  body {
    margin: 0;
    background: linear-gradient(217deg, #412eb9, #100120 70.71%), linear-gradient(127deg, #0c005a, rgba(255, 0, 212, 0) 70.71%), linear-gradient(336deg, #d4c9c9, #09001d 70.71%);
  }

  .ImgProfil {
    width: 60%;
  }

  .Menu {
    max-width: 100%;
    margin: 0%;
  }

  .Cube {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .CubeDesign {
    border-radius: 3%;
    margin: 1%;
    padding: 1%;
    text-align: center;
  }

  .NumberExp {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  h3 {
    line-height: normal;
  }
}
@media screen and (min-width: 1024px) {
  .Contour, .Contour1, .Contour2, .Contour3, .Contour4 {
    height: 2px;
    background-color: white;
    position: absolute;
    margin-top: -1%;
    transition-duration: 3s;
    -webkit-animation: infinite;
  }

  .Contour {
    -webkit-animation-name: contourprogress;
    -webkit-animation-duration: 7s;
    transition-duration: 3s;
  }

  .Contour1 {
    -webkit-animation-name: contourprogress1;
    -webkit-animation-duration: 13s;
    transition-duration: 3s;
  }

  .Contour2 {
    -webkit-animation-name: contourprogress2;
    -webkit-animation-duration: 11s;
    transition-duration: 3s;
  }

  .Contour3 {
    -webkit-animation-name: contourprogress3;
    -webkit-animation-duration: 15s;
    transition-duration: 3s;
  }

  .Contour4 {
    -webkit-animation-name: contourprogress4;
    -webkit-animation-duration: 19s;
    transition-duration: 3s;
  }

  @-webkit-keyframes contourprogress {
    0% {
      top: 15%;
      width: 5rem;
      margin-left: 66%;
    }
    99% {
      top: 85%;
      width: 3px;
      margin-left: 0%;
    }
    100% {
      width: 0px;
    }
  }
  @-webkit-keyframes contourprogress1 {
    0% {
      top: 5%;
      width: 5rem;
      margin-left: 0;
    }
    99% {
      top: 75%;
      width: 3px;
      margin-left: 66%;
    }
    100% {
      width: 0px;
    }
  }
  @-webkit-keyframes contourprogress2 {
    0% {
      top: 88%;
      width: 5rem;
      margin-left: 0;
    }
    49% {
      top: 28%;
      width: 3px;
      margin-left: 66%;
    }
    50% {
      width: 0px;
    }
    100% {
      top: 68%;
      width: 5rem;
      margin-left: 0;
    }
  }
  @-webkit-keyframes contourprogress3 {
    0% {
      top: 95%;
      width: 5rem;
      margin-left: 66%;
    }
    99% {
      top: 25%;
      width: 3px;
      margin-left: 0%;
    }
    100% {
      width: 90px;
    }
  }
  @-webkit-keyframes contourprogress4 {
    0% {
      top: 95%;
      width: 5rem;
      margin-left: 0;
    }
    99% {
      top: 5%;
      width: 3px;
      margin-left: 66%;
    }
    100% {
      width: 20px;
    }
  }
}
.Rotate:hover {
  -webkit-animation-name: rotateprogress;
  -webkit-animation-duration: 2s;
}

@-webkit-keyframes rotateprogress {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1024px) {
  .Contour, .Contour1, .Contour2, .Contour3, .Contour4 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
