body{ margin-right: 20%;margin-left: 20%; margin-top: 3%;}
.DisplayIndex{  padding: 4%; }
.ImgProfil{border-radius: 50%;margin-top: 5%; border: 5px solid;border-color: rgb(255, 255, 255); }
.NamePhoto{text-align: center;}
.residence{padding-right: 12%; display: flex; justify-content: space-around; padding-bottom: 8px;}
.language{text-align: center;padding-bottom: 1rem;padding-top: 1rem;}
.HHtml{margin-right: 12%; height: 5px;}
.HCSStml{margin-right: 15%;height: 5px;}
.HJStml{margin-right: 35%;height: 5px;}
.SEOtml{margin-right: 15%;height: 5px;}
.fa-arrow-circle-down{padding-top: 8%;}
.SocialLogo{display: flex; justify-content: space-evenly; }
html {scroll-behavior: smooth;}
.BlockBlackText{position: relative; z-index: 2;  background-color: rgb(0, 0, 0);padding: 5%; margin-bottom: 10%;}



