body{width: 95%;padding: 1%; }
.DisplayIndex{width: 100%;height: 100%;}

.ImgProfil{border-radius: 50%;max-width: 40%;margin-top: 5%;}

.NamePhoto{background-color: #252530; text-align: center; border-radius: 2%;padding-bottom: 2%;}
.residence{padding-right: 12%;}
.language{display: flex;}
.Hobbie{padding-right: 5%;  }
.HobbieLi{display: flex; justify-content: space-between;padding-bottom: 1%;  }
.HHtml{margin-right: 12%; height: 5px;}
.HCSStml{margin-right: 15%;height: 5px;}
.HJStml{margin-right: 35%;height: 5px;}
.SEOtml{margin-right: 15%;height: 5px;}

.SocialLogo{display: flex; justify-content: space-evenly; }


.SliderImg{background-image:linear-gradient(#1f1f2ba9,rgba(31, 31, 43, 0.897)), url("../../img/banierreLaurentJordan.jpg") ;border-top-left-radius: 2%;border-top-right-radius: 2%;}
.SliderImgProject{background-image:linear-gradient(#1f1f2ba9,rgba(31, 31, 43, 0.897)), url("../../img/project.jpg") ;border-top-left-radius: 2%;border-top-right-radius: 2%;}
.cubeDisplay{margin: 2%;}

