.ColorOr,.fa-linkedin,.fa-github,a:hover{color: #bce215;}
.ColorWhiteSmoke,a{color: whitesmoke;}
.ColorSecondary{color:#bce215;}
.fa-vuejs{color: yellowgreen;} 
.fa-html5{color: orange;}
.fa-css3-alt{color: #3867d6;}
.fa-sass{color:#8854d0;}
.fa-js-square{color:#fed330 ;}
.fa-node{color: #20bf6b;}
.fa-server{color:#0fb9b1 ;}
.fa-linkedin:hover,.fa-github:hover{color: rgb(255, 255, 255);}
.fa-arrow-circle-down{color: white;}