.ColorOr{color: #EAB543;}
.ColorWhiteSmoke{color: whitesmoke;}
.ColorSecondary{color:#15e271;}
.HHtml{background: #fed330;border-color: #fed330;}
.HCSStml{background-color: #B33771;border-color: #B33771;}
.HJStml{background-color: #fa8231;border-color: #fa8231;}
.SEOtml{background-color: #d2dae2;border-color: #d2dae2;}
.fa-vuejs{color: yellowgreen;} 
.fa-html5{color: orange;}
.fa-css3-alt{color: #3867d6;}
.fa-sass{color:#8854d0;}
.fa-js-square{color:#fed330 ;}
.fa-node{color: #20bf6b;}
.fa-server{color:#0fb9b1 ;}
.fa-linkedin:hover,.fa-github:hover{color: rgb(255, 255, 255);}