.fab{color: #EAB543;}
body{background-image:linear-gradient(#1f1f2b,rgba(31, 31, 43, 0.877)), url("./img/bodyImg.jpg") }
.Menu{background-color:#1f1f2b;}
.Infos{background-color:#1f1f2b}  
.CubeDesign{background-color: #2d2d39;}
#CubeP7{background-image:linear-gradient(#1f1f2ba9,rgba(31, 31, 43, 0.897)), url("./img/groupomania.jpg") ;}
#CubeP6{background-image:linear-gradient(#1f1f2ba9,rgba(31, 31, 43, 0.897)), url("./img/sopeckoko.png") ;}
#CubeP5{background-image:linear-gradient(#1f1f2ba9,rgba(31, 31, 43, 0.897)), url("./img/orinoco.png") ;}
#CubeP4{background-image:linear-gradient(#1f1f2ba9,rgba(31, 31, 43, 0.897)), url("./img/lachouetteagence.png") ;}
#CubeP3{background-image:linear-gradient(#1f1f2ba9,rgba(31, 31, 43, 0.897)), url("./img/protomarketplace.png") ;}
#CubeP2{background-image:linear-gradient(#1f1f2ba9,rgba(31, 31, 43, 0.897)), url("./img/cvlaurentjordan.png") ;}
footer{background-color: #2d2d39;}