.fab {
  color: #EAB543;
}

body {
  background-image: linear-gradient(#1f1f2b, rgba(31, 31, 43, 0.877)), url("../../img/bodyImg.jpg");
}

.Menu {
  background-color: #1f1f2b;
}

.Infos {
  background-color: #1f1f2b;
}

.CubeDesign {
  background-color: #2d2d39;
}

#CubeP7 {
  background-image: linear-gradient(#1f1f2ba9, rgba(31, 31, 43, 0.897)), url("../../img/groupomania.jpg");
}

#CubeP6 {
  background-image: linear-gradient(#1f1f2ba9, rgba(31, 31, 43, 0.897)), url("../../img/sopeckoko.png");
}

#CubeP5 {
  background-image: linear-gradient(#1f1f2ba9, rgba(31, 31, 43, 0.897)), url("../../img/orinoco.png");
}

#CubeP4 {
  background-image: linear-gradient(#1f1f2ba9, rgba(31, 31, 43, 0.897)), url("../../img/lachouetteagence.png");
}

#CubeP3 {
  background-image: linear-gradient(#1f1f2ba9, rgba(31, 31, 43, 0.897)), url("../../img/protomarketplace.png");
}

#CubeP2 {
  background-image: linear-gradient(#1f1f2ba9, rgba(31, 31, 43, 0.897)), url("../../img/cvlaurentjordan.png");
}

footer {
  background-color: #2d2d39;
}

.ColorOr {
  color: #EAB543;
}

.ColorWhiteSmoke {
  color: whitesmoke;
}

.ColorGrey {
  color: #76747e;
}

.HHtml {
  background: #fed330;
  border-color: #fed330;
}

.HCSStml {
  background-color: #B33771;
  border-color: #B33771;
}

.HJStml {
  background-color: #fa8231;
  border-color: #fa8231;
}

.SEOtml {
  background-color: #d2dae2;
  border-color: #d2dae2;
}

.fa-vuejs {
  color: yellowgreen;
}

.fa-html5 {
  color: orange;
}

.fa-css3-alt {
  color: #3867d6;
}

.fa-sass {
  color: #8854d0;
}

.fa-js-square {
  color: #fed330;
}

.fa-node {
  color: #20bf6b;
}

.fa-server {
  color: #0fb9b1;
}

.fa-linkedin:hover, .fa-github:hover {
  color: white;
}

body {
  width: 95%;
  padding: 1%;
}

.DisplayIndex {
  width: 100%;
  height: 100%;
}

.ImgProfil {
  border-radius: 50%;
  max-width: 40%;
  margin-top: 5%;
}

.NamePhoto {
  background-color: #252530;
  text-align: center;
  border-radius: 2%;
  padding-bottom: 2%;
}

.residence {
  padding-right: 12%;
}

.language {
  display: flex;
}

.Hobbie {
  padding-right: 5%;
}

.HobbieLi {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1%;
}

.HHtml {
  margin-right: 12%;
  height: 5px;
}

.HCSStml {
  margin-right: 15%;
  height: 5px;
}

.HJStml {
  margin-right: 35%;
  height: 5px;
}

.SEOtml {
  margin-right: 15%;
  height: 5px;
}

.SocialLogo {
  display: flex;
  justify-content: space-evenly;
}

.BlockBlackText {
  background-image: linear-gradient(#1f1f2ba9, rgba(31, 31, 43, 0.897)), url("../../img/banierreLaurentJordan.jpg");
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.BlockBlackTextProject {
  background-image: linear-gradient(#1f1f2ba9, rgba(31, 31, 43, 0.897)), url("../../img/project.jpg");
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.cubeDisplay {
  margin: 2%;
}

p {
  font-size: 1rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  line-height: 2px;
}

p, h1, h2, h3, li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

li {
  list-style: none;
}

.txtcenter {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .DisplayIndex {
    display: flex;
    flex-direction: row;
  }
  .DisplayIndex .Menu {
    max-width: 25%;
    margin-right: 5%;
    z-index: 2;
  }
  .DisplayIndex .Infos {
    min-width: 3%;
  }
  .DisplayIndex .Cube {
    display: flex;
    justify-content: space-evenly;
  }
  .DisplayIndex .CubeDesign {
    border-radius: 3%;
    margin: 1%;
    padding: 1%;
    text-align: center;
    width: 50%;
    z-index: 2;
    transition: transform 0.2s;
  }
  .DisplayIndex .CubeDesign:hover {
    transform: scale(1.3);
    z-index: 3;
    animation-duration: 2s;
  }
  .DisplayIndex .BlockBlackText, .DisplayIndex .BlockBlackTextProject {
    padding: 1%;
  }
  .DisplayIndex .SocialLogo {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 1%;
    left: 0;
    right: 70%;
    padding-top: 1px;
  }
  .DisplayIndex .NumberExp {
    display: flex;
    justify-content: space-evenly;
  }
  .DisplayIndex .DysplayTop {
    margin-bottom: 35%;
  }

  footer {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .DisplayIndex {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .Menu {
    max-width: 100%;
    margin: 0%;
  }

  .Infos {
    min-width: 100%;
  }

  .Cube {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .CubeDesign {
    border-radius: 3%;
    margin: 1%;
    padding: 1%;
    text-align: center;
  }

  .NumberExp {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  footer {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
  }

  footer > h3 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  #jsProgress, #cssProgress, #htmlProgress, #SEOProgress {
    position: absolute;
    margin-top: -1%;
    -webkit-animation: both;
    -webkit-animation-duration: 5s;
  }

  #jsProgress {
    -webkit-animation-name: javascriptprogress;
  }

  #cssProgress {
    -webkit-animation-name: cssprogress;
  }

  #SEOProgress {
    -webkit-animation-name: seoProgress;
  }

  #htmlProgress {
    -webkit-animation-name: htmlprogress;
  }

  @-webkit-keyframes javascriptprogress {
    0% {
      padding-left: 0;
    }
    100% {
      padding-left: 12%;
    }
  }
  @-webkit-keyframes seoProgress {
    0% {
      padding-left: 0;
    }
    100% {
      padding-left: 17%;
    }
  }
  @-webkit-keyframes cssprogress {
    0% {
      padding-left: 0;
    }
    100% {
      padding-left: 19%;
    }
  }
  @-webkit-keyframes htmlprogress {
    0% {
      padding-left: 0;
    }
    100% {
      padding-left: 20%;
    }
  }
  .Contour, .Contour1, .Contour2, .Contour3, .Contour4 {
    height: 2px;
    background-color: white;
    position: absolute;
    margin-top: -1%;
    -webkit-animation: infinite;
  }

  .Contour {
    -webkit-animation-name: contourprogress;
    -webkit-animation-duration: 3s;
  }

  .Contour1 {
    -webkit-animation-name: contourprogress1;
    -webkit-animation-duration: 5s;
  }

  .Contour2 {
    -webkit-animation-name: contourprogress2;
    -webkit-animation-duration: 3s;
  }

  .Contour3 {
    -webkit-animation-name: contourprogress3;
    -webkit-animation-duration: 2s;
  }

  .Contour4 {
    -webkit-animation-name: contourprogress4;
    -webkit-animation-duration: 4s;
  }

  @-webkit-keyframes contourprogress {
    0% {
      top: 35%;
      width: 5rem;
      margin-left: 66%;
    }
    99% {
      top: 45%;
      width: 3px;
      margin-left: 0%;
    }
    100% {
      width: 0px;
    }
  }
  @-webkit-keyframes contourprogress1 {
    0% {
      top: 25%;
      width: 5rem;
      margin-left: 0;
    }
    99% {
      top: 45%;
      width: 3px;
      margin-left: 66%;
    }
    100% {
      width: 0px;
    }
  }
  @-webkit-keyframes contourprogress2 {
    0% {
      top: 68%;
      width: 5rem;
      margin-left: 0;
    }
    49% {
      top: 68%;
      width: 3px;
      margin-left: 66%;
    }
    50% {
      width: 0px;
    }
    100% {
      top: 68%;
      width: 5rem;
      margin-left: 0;
    }
  }
  @-webkit-keyframes contourprogress3 {
    0% {
      top: 95%;
      width: 5rem;
      margin-left: 66%;
    }
    99% {
      top: 75%;
      width: 3px;
      margin-left: 0%;
    }
    100% {
      width: 0px;
    }
  }
  @-webkit-keyframes contourprogress4 {
    0% {
      top: 95%;
      width: 5rem;
      margin-left: 0;
    }
    99% {
      top: 75%;
      width: 3px;
      margin-left: 66%;
    }
    100% {
      width: 0px;
    }
  }
}
.Rotate:hover {
  -webkit-animation-name: rotateprogress;
  -webkit-animation-duration: 2s;
}

@-webkit-keyframes rotateprogress {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1024px) {
  .Contour, .Contour1, .Contour2, .Contour3, .Contour4 {
    display: none;
  }

  #jsProgress, #cssProgress, #htmlProgress, #SEOProgress {
    position: absolute;
    margin-top: -2%;
    -webkit-animation: both;
    -webkit-animation-duration: 5s;
  }

  #jsProgress {
    -webkit-animation-name: javascriptprogress;
  }

  #cssProgress {
    -webkit-animation-name: cssprogress;
  }

  #SEOProgress {
    -webkit-animation-name: seoProgress;
  }

  #htmlProgress {
    -webkit-animation-name: htmlprogress;
  }

  @-webkit-keyframes javascriptprogress {
    0% {
      padding-left: 0;
    }
    100% {
      padding-left: 55%;
    }
  }
  @-webkit-keyframes cssprogress {
    0% {
      padding-left: 0;
    }
    100% {
      padding-left: 85%;
    }
  }
  @-webkit-keyframes seoProgress {
    0% {
      padding-left: 0;
    }
    100% {
      padding-left: 75%;
    }
  }
  @-webkit-keyframes htmlprogress {
    0% {
      padding-left: 0;
    }
    100% {
      padding-left: 88%;
    }
  }
}

/*# sourceMappingURL=style.css.map */
