@media screen and (min-width: 1024px) {
    .DisplayIndex {
      display:flex;
      flex-direction: row;
      .Menu{ max-width: 25%;margin-right: 5%; }
      .Infos{min-width: 30%;}
      .Cube{display: flex;justify-content: space-evenly;}
      .CubeDesign{border-radius: 3%;margin: 1%;padding: 1%;text-align: center; width: 50%;}
      .SliderImg{background-image:linear-gradient(rgba(87,88,97,255),rgba(0, 0, 0, 0.74)), url("../../img/banierreLaurentJordan.jpg") ;padding: 2%;}
      .SocialLogo{display: flex; justify-content: space-evenly; position: absolute; bottom: 5%;left: 0; right:70%; }
      .NumberExp{display: flex; justify-content: space-evenly;}
    }
}