@media screen and (max-width: 1024px) {
    .DisplayIndex {
      display:flex;
      flex-direction: column;
      height: auto;
    }
    nav{display: flex; flex-direction: column; justify-content: center; align-items: center;}
    body{ margin: 0;background: linear-gradient(217deg, #412eb9, rgb(16, 1, 32) 70.71%),
      linear-gradient(127deg, #0c005a, rgba(255, 0, 212, 0) 70.71%),
      linear-gradient(336deg, #d4c9c9, rgb(9, 0, 29) 70.71%);}
      .ImgProfil{width: 60%;}
    .Menu{ max-width: 100%;margin: 0%; }
    .Cube{display: flex; flex-direction: column; justify-content: center;}
    .CubeDesign{border-radius: 3%;margin: 1%;padding: 1%;text-align: center; }
    .NumberExp{display: flex; flex-direction: column; text-align: center; }
    h3{line-height: normal;}
}